

#contenedor{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5%;
}

#contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(192, 193, 243);
    
}

#contenedor2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(157, 240, 212);
    text-align: center;

}



