.tabla{
    border: 2px solid #fafafd;
    
    text-align: center;
    margin: auto;



}
th{
    border: 2px solid #eeeef3;
    background-color: #0a2733;
    color: aliceblue;
    width:80px;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    
}
td{
    border: 2px solid #f8f4f4;
    width: 280px;
   
    font-size: 20px;
    font-weight: bold;
    color: rgba(248, 243, 243, 0.986);
    background-color: rgb(30, 14, 54);
    
    
}

#editarTareas{
    border-radius: 20px;
}



