#contenedorGrande{
    display: flex;
   justify-content: center;
    
    align-content: center;
}


#contenedorpeque{
    display: flex;
    flex-direction: column;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #131212;
    width: 30%;
<<<<<<< HEAD
    height: 50vh;
   background-color: rgb(1, 77, 35);  
   color: azure;
=======
    height: 50%;
   background-color: rgb(1, 77, 35);  
>>>>>>> 4772513173b588bcffcbc269910748953d309e22
}

.item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
<<<<<<< HEAD
    width: 60%;
=======

>>>>>>> 4772513173b588bcffcbc269910748953d309e22
}

#botonLogin{
    background-color: rgb(177, 165, 5);
    height: 30px;
<<<<<<< HEAD
    color: rgb(167, 198, 226);

}

#a{
    color: rgb(11, 133, 240);
}
=======
    

}
>>>>>>> 4772513173b588bcffcbc269910748953d309e22
